{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    <title>Prueba Indra</title>
{% endblock %}

{% block title_content %}
    <div class="sidebar-brand-text mx-3">Prueba Indra</div>
{% endblock %}

{% block content %}
    <form method="post" id="user-form" action="" class="margin-bottom-0" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        <div class="login-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg">
                <i class="fa fa-sign-in"></i> Ingresar
            </button>
        </div>
    </form>
{% endblock %}
