{% extends 'base.html' %}

{% block title %}
    <title>Prueba Indra</title>
{% endblock %}

{% block title_content %}
    <div class="sidebar-brand-text mx-3">Prueba Indra</div>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock  %}
