{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Prueba Indra</title>
{% endblock %}

{% block title_content %}
    <div class="sidebar-brand-text mx-3">Prueba Indra</div>
{% endblock %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
                {% if request.user.is_staff %}
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="{% url 'crear_usuario' %}">
                                <span >Crear</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </nav>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Es Staff</th>
                            <th>Ultimo Login</th>
                            {% if request.user.is_staff %}
                                <th>Accion</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Es Staff</th>
                            <th>Ultimo Login</th>
                            {% if request.user.is_staff %}
                                <th>Accion</th>
                            {% endif %}
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for user in usuario_list %}
                            <tr>
                                <th>{{ user.username }}</th>
                                <th>{{ user.first_name }}</th>
                                <th>{{ user.last_name }}</th>
                                <th>{{ user.email }}</th>
                                <th>{{ user.is_staff }}</th>
                                <th>{{ user.last_login }}</th>
                                {% if request.user.is_staff %}
                                    <th>
                                        <div>
                                            <a href="{% url 'editar_usuario' user.pk %}">editar</a>
                                            <a href="{% url 'eliminar_usuario' user.pk %}">eliminar</a>
                                        </div>
                                    </th>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}

{% block javascript %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(document).ready(function() {
          $('#dataTable').DataTable();
        });
    </script>
{% endblock %}
